
html, body {

  width:100%;
  overflow-x:hidden;

}

body {        
  position: relative;
  padding-top: 1.5em;
}

iframe {
  width: 100%; 
  height: 350px;
}

.logo {
  height: 100px;  
  
}



#phone {
  width: 100%;
  color: white;
  text-align: right;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 21%;
}


/* Colors
==========================*/

#footer {
  background-color: #0A3945;
  color: #88A677;
  padding-top: 30px;
}

#registration {
  background: #031217;
  color: #70A589;
}

#news {
  background: #031217;
  color: #70A589;
  padding-right: 5px;
  padding-left: 5px;
}

#schedule {
  background: #031217;
  color: #70A589;
  padding-left: 5px;
  padding-right: 5px;
}

#who {
  background: #031217;
  color: #70A589;
}

.btn.btn-default {
  color: #579632;

}

.subText {
  color: #6C9BA3;
}

.card, .card-header {
  background-color: #0A3945;
  border-color: #6C9BA3;
}

.cardNews {
  background-color: #0A3945 !important;
}

.btn-link {
  color: #88A677;
  font-size: 1.2rem;
}

.btn-link:hover, .card-header  {
  color: #579632;
}

a {
  color: #88A677;
}

a:hover {
  color: #579632;
}

.bg-dark {
  background-color: #031217 !important;
}

.navbar-brand {
  color: #EE4037 !important;  
}

.navbar-dark .navbar-nav .nav-link {
  color: #70A589;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #579632;
  font-weight: bold;
}

.card-title {
  color: #EE4037;
}

.emojy {
  width: 2em;
  height: 2em;
}

/*HEADER
===================*/

.redButton {
  background-color: #EE4037;
}

.redText {
  color: #EE4037;
  padding-left: 5px;
}

.mainName {
  padding-bottom: 30px;
}

.infoHeader {
  font-size: 1rem;
}

#headback {
  position: relative;
  height: 700px;          
  background: url('img/brooklyn-bridge-park31.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;     
}

.headerMain {   
 font-family: 'Alfa Slab One', cursive, Garamond;  
 font-size: 4rem;
 color: #ffff80;     
 padding-top: 100px;
 padding-bottom: 40px;

}

.titleSec {
  font-size: 3rem;
  font-family: 'Alfa Slab One', cursive;
  color: #EE4037;  
}

.whatAndWhen {
  text-align: justify;
}


.placesCount {
  width: 19rem !important;
  font-size: 0.9rem;
  padding-right: 5px;
  padding-left: 15px;
}

.footerHeader {
  font-family: 'Alfa Slab One', cursive;
  color: #EE4037;
}

.card {
  width: 18rem;
}

.carousel-inner {
  font-family: 'Alfa Slab One', cursive;  

}

h3.display-5 {
  color: #ffff80 !important;
  
}

#btn-primary {
  background-color: #0062cc;
}

.btn-link {           
  padding-right: 3px;
  padding-left: 3px;

  font-weight: bold;
}

.scheduleHead {
  padding-left: 3px;
  padding-right: 3px;
}

    /* Super Large devices (TV, less than 1399px) 
    ========================================================*/
    @media (max-width: 1399.98px) {
      iframe {
        width: 100%; 
        height: 360px;
      }

      .headerMain {
        font-size: 4rem;            
        padding-top: 80px;  
        padding-bottom: 30px;
      }

      .redText {
        color: #EE4037;
      }

      .infoHeader {
        font-size: 1rem;
      }

      #whatAndWhenTitle, #whereTitle {  
        font-size: 2.7rem;
      }
           
    }

    /* Large devices (desktops, less than 1200px) 
    ========================================================*/

    @media (max-width: 1199.98px) {
      #headback {
        height: 600px;
      }

      iframe {
        width: 100%; 
        height: 360px;
      }

      .headerMain {
        font-size: 3.5rem;
        padding-top: 60px;
      }

      .logo {
        height: 90px;  

      }

      #whatAndWhenTitle, #whereTitle {  
        font-size: 2.2rem;
      }

      
    }

    /* Medium devices (tablets, less than 992px)
    ========================================================*/

    @media (max-width: 991.98px) {
      #headback {
        height: 500px;
        font-size: 1.5em;
      }

      .titleSec {
        font-size: 2.5rem;
      }

      .headerMain {       
        font-size: 3.2rem;
        padding-bottom: 15px;
      }

      .mainName {
        padding-bottom: 5px;
      }

      iframe {
        width: 100%; 
        height: 340px;
      }

      .logo {
        height: 80px;  
        -webkit-filter: drop-shadow(8px 8px 0.5em red);
        filter: drop-shadow(8px 8px 0.5em red);
      }

      #whatAndWhenTitle, #whereTitle {  
        font-size: 2.1rem;
      }

      .whereBody {
        padding-right: 0px;
      }      

      #phone {
         padding-right: 10%;        
      }

    }

    /* Small devices (landscape phones, less than 768px)
    ==========================================================*/

    @media (max-width: 767.98px) {
      #headback {
        height: 420px;
      }

      .headerMain {
        font-size: 2.5rem;
      }

      .nav-item {
        padding-left: 10px !important;
      }

      .titleSec {
        font-size: 2rem;
      }

      .logo {
        height: 65px;  
        margin-bottom: 8px;
        -webkit-filter: drop-shadow(8px 8px 0.5em red);
        filter: drop-shadow(8px 8px 0.5em red);
      }

      iframe {
        width: 100%; 
        height: 360px;
        padding: 0px;
      }

      .noMar {
        margin-right: 0px;
        margin-left: 0px;
      }

      #whatAndWhenTitle, #whereTitle {  
        font-size: 1.9rem;
      }

      .whereBody {
        padding-right: 0px;
      }

      .navbar-brand {      
      padding-left: 0px;
      }

      #phone {
        padding-right: 5px;
      }

      .infoHeader {
        font-size: 0.8rem;
      }

      .footerHeader {
        font-size: 25px;
      }

    }

    /* Extra small devices (portrait phones, less than 576px)
    ==========================================================*/

    @media (max-width: 575.98px) {
      #headback {
        height: 370px;        
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;     

      }

      .redButton {
        font-size: 0.8rem;
      }

      .headerMain {
        font-size: 2.0rem;        
      }

      .titleSec {
        font-size: 2rem;
        padding-bottom: 10px;
      }

      iframe {
        width: 100%; 
        height: 300px;
        padding: 0px;
      }

      .col-12 {
        padding-right: 5px;
        padding-left: 5px;
        margin-left: 0px;
      }

      .padLeft {
        padding-left: 5px !important;
      }

      .btn-link {     
        font-size: 1rem;
      }

      .logo {
        height: 45px;  
        -webkit-filter: drop-shadow(8px 8px 0.5em red);
        filter: drop-shadow(8px 8px 0.5em red);
        margin-bottom: 10px;  
      }

      .whereBody {
        padding-right: 0px;
        padding-left: 0px;
      }

      .whatAndWhen {
        padding-right: 5px;
        padding-right: 5px;
      }

      #phone {
        visibility: hidden;
        height: 0px;
        padding: 0px;
      }

      .navbar-text {
        height: 0px;
        padding: 0px;
      }

      .infoHeader {
        font-size: 0.6rem;
      }

      .footerHeader, .h6.text-right {
        text-align: left !important;
      }
      
    }

    /* Super old small devices (phones, less than 400px)
    ==========================================================*/

    @media (max-width: 400px) {
      #headback {
        height: 350px;
      }

      .headerMain {
        font-size: 1.8rem;
        padding-top: 60px;
      }

      .titleSec {
        font-size: 1.5rem;
      }

      .col-12 {
        padding-right: 5px;
        padding-left: 5px;
        margin-left: 0px;
      }

      .btn-link {     
        font-size: 0.9rem;
        font-weight: bold;     
      }

      .logo {
        height: 35px;  
        -webkit-filter: drop-shadow(10px 10px 0.5em red);
        filter: drop-shadow(10px 10px 0.5em red);
        margin-bottom: 10px;  
      }

      .redbuttonCentr {
        text-align: center;
      }
      #registration {
        padding-left: 5px;
        padding-right: 5px;
      }
      .placesCount {
        width: 100%;
      }
      .paddZiro {
        padding-left: 5px;
      }


    }

    

    
